<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.depromeet.android">
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_baby_pay_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_baby_pay_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".category.AddCategoryActivity">

        </activity>
        <activity android:name=".feedpage.FeedPageActivity">

        </activity>
        <activity
            android:name=".login.PopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".login.OnboardingActivity" />
        <activity android:name=".login.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".input.InputActivity" />
        <activity android:name=".main.view.MainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>